<form action='/genres' method="post">
  <label for="genre[name]">Name:</label><br>
  <input type="text" name="genre[name]"><br>

  <input type="submit" name="Create">
</form>

<h1><a href="/home">Cancel</a></h1>