<form action='/albums' method="post">
  <label for="album[name]">Name:</label><br>
  <input type="text" name="album[name]"><br>

  <%# <label for="album[name]">Name:</label><br>
  <input type="text" name="album[name]"><br> %>

  <input type="submit" name="Create">
</form>

<h1><a href="/home">Cancel</a></h1>