body {
    background-image: url('/images/guitar_by_giancarlo-duarte.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}   