body {
    color: white;
    background: linear-gradient(brown, black);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: center;
    height: 600px;
    text-align: center;
    margin-bottom: 10px;
    background-image: url('/images/piano+guitar_by_jake-noren.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}   

main {
    height: 600px;
    text-align: center;
    /* background-image: url('/images/guitar_by_giancarlo-duarte.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

#emblem {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 15px;
    top: 10px;
}