 body {
    background-image: url("/images/guitar_by_annie-spratt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: hsla(50, 100%, 25%, 1);
 }   

 h1 {
     text-align: center;
 }

 form {
    color: hsla(50, 100%, 25%, 1);
    display: block;
    text-align: center;
    width: 20%;
    margin-top: 20%;
    margin-left: 40%;
    border-width: 2px;
    border-style: ridge;
    border-color: grey;
    padding: 5% 5%%;
    box-sizing: border-box;
    background: linear-gradient(black, grey)
 }