<form action='/users/<%=@user.slug%>' method="post">
    <label for="user[username]">Username:</label><br>
    <input type="text" name="user[username]" id="user[username]" placeholder="<%=@user.username%>"><br>

    <label for="user[email]">Email:</label><br>
    <input type="text" name="user[email]" id="user[email]" placeholder="<%=@user.email%>"><br>

    <label for="user[password]">Password:</label><br>
    <input type="password" name="user[password]" id="user[password]"><br>

    <input type="hidden" name="_method" value="patch">
    <input type="submit" name="submit">
</form>

<form action="/users/<%=@user.slug%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete user">
</form>