<%# <h2>tweeting!</h2> %>

<%=@tweet.content%>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>

<form action="/tweets/<%=@tweet.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Tweet">
</form>