<form action='/songs' method="post">
  <label for="song[name]">Name:</label><br>
  <input type="text" name="song[name]"><br>

  <%# <label for="song[name]">Name:</label><br>
  <input type="text" name="song[name]"><br> %>

  <input type="submit" name="Create">
</form>

<h1><a href="/home">Cancel</a></h1>