<form action='/albums/<%=@album.id%>' method="post">
  <label for="album[name]">Name:</label><br>
  <input type="text" name="album[name]"><br>

  <input type="hidden" name="_method" value="patch">
  <input type="submit" name="submit">

</form>

<h1><a href="/albums/<%=@album.id%>">Cancel</a></h1>