<form action='/posts/<%=@post.id%>' method="post">
    Content:
    <input type="text" name="content" placeholder="<%=@post.content%>"><br>
    Create Your post:

    <input type="hidden" name="_method" value="patch">
    <input type="submit" name="submit">

  </form>