<form action='/posts' method="post">
  
  Content:
  <input type="text" name="content"><br>
  Create Your post:
  <input type="submit" name="submit" id="submit">    <%# <input type="submit" name="submit"> %>

</form>
