<form action='/posts' method="post">
  <label for="post[content]">Content:</label><br>
  <input type="textbox" name="post[content]"><br>

  <input type="submit" value="Post">    <%# <input type="submit" name="submit"> %>
</form>
<h1><a href="/home">Cancel</a></h1>