<%# <h2>posting!</h2> %>

<%=@post.content%>

<a href="/posts/<%=@post.id%>/edit">Edit post</a>

<form action="/posts/<%=@post.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete post">
</form>