<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <%# <link rel="stylesheet" href="css/styles.css?v=1.0"> %>

</head>

<body>
    <header>
        <h1>Hello! Hopefully this initial test will work.</h1>
    </header> 
    <main>
        <h2>My Username is </h2>
    </main>
    <%# <script src="js/scripts.js"></script> %>
</body>
</html>