<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/stylesheets/home.css">

</head>

<body>
    <header>
        <h1>Hello! Hopefully this initial test will work.</h1>
        <img id="emblem" src="/images/HOJ_symbol.png">
    </header> 
    <main>
        <h2>User: <%=@user.username%></h2>
        <h2>My Password is <%=@user.password%></h2>
        <table>
            <th>
                <td>Song</td>
                <td>Artist</td>
                <td>Album</td>
                <td>Release Date</td>
            </th>
            <tr>
                <td>A Little Bit of Heaven</td>
                <td>J. Keirn Brennan-Ernest R. Ball</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
        </table>
    </main>
    <%# <script src="js/scripts.js"></script> %>
</body>
</html>