<body>
    <header>
        <h1>Hello! Login to access Acoustic Karma.</h1>
    </header> 
    <main>
        <form action="/home" method="post">
            <label for="user[username]">Username:</label><br>
            <input type="text" name="user[username]" id="user[username]"><br>

            <label for="user[password]">Password:</label><br>
            <input type="password" name="user[password]" id="user[password]"><br>

            <input type="submit" value="Submit">
        </form>
    </main>
    <%# <script src="js/scripts.js"></script> %>
</body>