<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/stylesheets/login.css">
    <%# <style>
        body {
            background-image: url('/images/guitar_by_giancarlo-duarte.jpg');
            /* background: red; */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }   
    </style> %>
</head>

<body>
    <header>
        <h1>Hello! Login to access Acoustic Karma.</h1>
    </header> 
    <main>
        <form action="/home" method="post">
            <label for="user[username]">Username:</label><br>
            <input type="text" name="user[username]" id="user[username]"><br>

            <label for="user[password]">Password:</label><br>
            <input type="password" name="user[password]" id="user[password]"><br>

            <input type="submit" value="Submit">
        </form>
    </main>
    <%# <script src="js/scripts.js"></script> %>
</body>
</html>